<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="asch.so.wallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".WalletApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name="asch.so.base.activity.BaseActivity" />
        <activity android:name=".activity.FirstStartActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainTabActivity"
            android:theme="@style/AppTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.AccountsActivity" />
        <activity
            android:name=".activity.AccountImportActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AccountCreateActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name=".activity.QRCodeScanActivity" />
        <activity
            android:name=".activity.AssetTransactionsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.AssetTransferActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".activity.AssetReceiveActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name=".activity.DappActivity" />
        <activity android:name=".activity.WebActivity" />
        <activity android:name=".activity.TransactionsActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.PincodeSettingActivity" />
        <activity android:name=".activity.AppSettingActivity" />
        <activity android:name=".activity.NodeURLSettingActivity" />
        <activity android:name=".activity.BackupActivity" />
        <activity android:name=".activity.AccountDetailActivity" />
        <activity android:name=".activity.LanguagesActivity" />
        <activity android:name=".activity.SecretBackupActivity" />
        <activity android:name=".activity.AppPinActivity" />
        <activity android:name=".activity.TodoActivity" />
        <activity android:name=".activity.TermServiceActivity" />
        <activity android:name=".activity.TransactionDetailActivity" />
        <activity android:name=".activity.BlockInfoActivity" />
        <activity android:name=".activity.PeersActivity" />
        <activity
            android:name=".activity.VoteActivity"
            android:label="@string/title_activity_vote"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.AccountInfoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.LockCoinsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.BaseCordovaActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.DAppCenterActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.DAppDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.DAppBalanceActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.DAppDepositActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".activity.SecondSecretActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.BlockBrowseActivity" />
        <activity android:name=".activity.BlockDetailActivity"></activity>
    </application>

</manifest>