<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="asch.io.wallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name="asch.io.wallet.WalletApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name="asch.io.base.activity.BaseActivity" />
        <activity android:name="asch.io.wallet.activity.ImportOrCreateAccoutActivity">
        </activity>
        <activity android:name="asch.io.wallet.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="asch.io.wallet.activity.MainTabActivity"
            android:theme="@style/AppTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="asch.io.wallet.activity.IssueAssetActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity android:name="asch.io.wallet.activity.RegisterUiaAssetActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            />
        <activity android:name="asch.io.wallet.activity.RegisterIssuerActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity android:name="asch.io.wallet.activity.IssuerAgreementActivity"/>
        <activity android:name="asch.io.wallet.activity.IssuerAssetsActivity"/>
        <activity android:name="asch.io.wallet.activity.EditAccountNicknameActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity android:name="asch.io.wallet.activity.AssetGatewayDepositActivity"/>
        <activity android:name="asch.io.wallet.activity.AssetWithdrawActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity android:name="asch.io.wallet.activity.AssetManageActivity"/>
        <activity android:name="asch.io.wallet.activity.SecondCheckPasswordActivity"/>
        <activity android:name="asch.io.wallet.activity.CheckPasswordActivity"></activity>
        <activity android:name="asch.io.wallet.activity.SecureSettingActivity"></activity>
        <activity android:name="asch.io.wallet.activity.AccountDeleteActivity"/>
        <activity android:name="asch.io.wallet.activity.AccountBackUpCheckOrderActivity"/>
        <activity android:name="asch.io.wallet.activity.AccountBackUpShowMnemonicActivity"/>
        <activity android:name="asch.io.wallet.activity.AccountBackUpAttentionActivity"></activity>
        <activity android:name="asch.io.wallet.activity.AccountsActivity" />
        <activity
            android:name="asch.io.wallet.activity.AccountImportActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="asch.io.wallet.activity.InitWalletActivity"></activity>
        <activity
            android:name="asch.io.wallet.activity.SetWalletPwdActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            />
        <activity
            android:name="asch.io.wallet.activity.AccountCreateActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name="asch.io.wallet.activity.QRCodeScanActivity" />
        <activity
            android:name="asch.io.wallet.activity.AssetTransactionsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="asch.io.wallet.activity.AssetTransferActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="asch.io.wallet.activity.AssetReceiveActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name="asch.io.wallet.activity.DappActivity" />
        <activity android:name="asch.io.wallet.activity.WebActivity" />
        <activity android:name="asch.io.wallet.activity.TransactionsActivity" />
        <activity android:name="asch.io.wallet.activity.AboutActivity" />
        <activity android:name="asch.io.wallet.activity.PincodeSettingActivity" />
        <activity android:name="asch.io.wallet.activity.AppSettingActivity" />
        <activity android:name="asch.io.wallet.activity.NodeURLSettingActivity" />
        <activity android:name="asch.io.wallet.activity.BackupActivity" />
        <activity android:name="asch.io.wallet.activity.AccountDetailActivity" />
        <activity android:name="asch.io.wallet.activity.LanguagesActivity" />
        <activity android:name="asch.io.wallet.activity.SecretBackupActivity" />
        <activity android:name="asch.io.wallet.activity.AppPinActivity" />
        <activity android:name="asch.io.wallet.activity.TodoActivity" />
        <activity android:name="asch.io.wallet.activity.TermServiceActivity" />
        <activity android:name="asch.io.wallet.activity.TransactionDetailActivity" />
        <activity android:name="asch.io.wallet.activity.BlockInfoActivity" />
        <activity android:name="asch.io.wallet.activity.PeersActivity" />
        <activity
            android:name="asch.io.wallet.activity.VoteActivity"
            android:label="@string/title_activity_vote"
            android:theme="@style/AppTheme" />
        <activity
            android:name="asch.io.wallet.activity.AccountInfoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="asch.io.wallet.activity.LockCoinsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="asch.io.wallet.activity.BaseCordovaActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="asch.io.wallet.activity.DAppCenterActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="asch.io.wallet.activity.DAppDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="asch.io.wallet.activity.DAppBalanceActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="asch.io.wallet.activity.DAppDepositActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="asch.io.wallet.activity.SecondSecretActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="asch.io.wallet.activity.BlockBrowseActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize"
            />
        <activity android:name="asch.io.wallet.activity.BlockDetailActivity"></activity>
    </application>

</manifest>